<ion-card>
  <ion-card-header>
    <div class="grid grid-cols-12 grid-flow-col">
      @if (title) {
        <div class="flex gap-x-4 col-span-10">
          <ion-card-title [attr.data-test]="'card_head_title' | naked"
          >{{ title }}
          </ion-card-title>
          @if (superScript) {
            <li
              class="list-outside"
              [attr.data-test]="'card_head_super_script' | naked"
            >
              <ion-text>{{ superScript }}</ion-text>
            </li>
          }
        </div>
      } @else {
        <div class="flex w-full gap-y-5 flex-col col-span-10">
          <ion-progress-bar
            [attr.data-test]="'card_head_progress_bar' | naked"
            type="indeterminate"
          />
          <ion-progress-bar
            [attr.data-test]="'card_head_progress_bar' | naked"
            type="indeterminate"
          />
        </div>
      }
      @if (logo) {
        <div class="flex justify-end col-span-2">
          <ion-icon
            [attr.data-test]="'card_head_icon' | naked"
            size="large"
            [name]="logo"
          />
        </div>
      }
    </div>
    @if (subTitle) {
      <ion-card-subtitle>{{ subTitle }}</ion-card-subtitle>
    }
  </ion-card-header>
</ion-card>
